.cart-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cart-item-list__item + .cart-item-list__item {
  border-top: var(--border-width-default) solid var(--border);
}
